<h1> Sign in </h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required> 
    <button type="submit">Sign In</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign-In / Sign-Up</a>
</p>