<h1> Sign Up </h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="full name" required>
    <input type="email" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required> 
    <input type="password" name="confirm_pass" placeholder="Confirm password" required> 
    <button type="submit">Sign Up</button>
</form>